/* ABOUT US */

.about_banner{
    background-image: url("../images/banner-bg.jpg");
    height: 100%;
    width: 100%;
}
.about_banner h1{
    background: linear-gradient(0deg, rgba(28,133,86,1) 55%, rgba(164,126,10,0.9335084375547094) 88%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    margin-top: 20%;
    margin-bottom: 22.5%;
}
.desc_about_us img{
    height: fit-content;
    width: 100%;
}
.desc_about_us p{
    text-align: justify;
}
.desc_about_us h1{
    background: linear-gradient(0deg, rgba(28,133,86,1) 55%, rgba(164,126,10,0.9335084375547094) 88%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-size: 60px;
    text-align: justify;
}
