.c1{
	height: 100px;
	background-color: red;
}
.c2{
	height: 100px;
	background-color: rebeccapurple;
}
.c3{
	height: 100px;
	background-color: black;
}
.c4{
	height: 100px;
	background-color: rgb(185, 185, 6);
}
.c5{
	height: 100px;
	background-color: rgb(101, 101, 65);
}
.s1{

	height: 400px;
	background-color: black;
}
.s2{

	height: 400px;
	background-color: rgb(126, 114, 114);
}
.s3{
	height: 400px;
	background-color: rgb(116, 22, 22);
}
.s4{
	height: 400px;
	background-color: rgb(12, 17, 67);
}
.b1{
	height: 200px;
	background-color: rgb(67, 69, 2);
}
.b2{
	height: 200px;
	background-color: rgb(38, 11, 1);
}
.b3{
	height: 200px;
	background-color: rgb(79, 25, 5);
}
.b4{
	height: 200px;
	background-color: rgb(4, 35, 4);
}
.b5{
	height: 200px;
	background-color: rgba(47, 62, 47, 0.847);
}
.b6{
	height: 200px;
	background-color: rgb(97, 7, 43);
}
.b7{
	height: 200px;
	background-color: rgb(35, 39, 44);
}
.b8{
	height: 200px;
	background-color: rgb(11, 12, 14);
}
.b9{
	height: 200px;
	background-color: rgb(16, 215, 30);
}
.b10{
	height: 200px;
	background-color: rgb(176, 217, 26);
}
.b11{
	height: 200px;
	background-color: rgb(86, 20, 20);
}
.b12{
	height: 200px;
	background-color: rgb(115, 39, 130);
}
.b13{
	height: 200px;
	background-color: rgb(105, 121, 13);
}
.b14{
	height: 200px;
	background-color: rgb(52, 101, 43);
}
.b15{
	height: 200px;
	background-color: rgb(192, 200, 207);
}
.b16{
	height: 400px;
	background-color: rgb(73, 72, 72);
}
